:root {
  --Black: #000;
  --White: #fff;
  --ColorMain: #04030C; 
  --ColorMain2: #31313141; 
  --ColorD1:#FF6700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


button {
  cursor: pointer;
}